body{
    background-image: url(https://i.imgur.com/fvfz6Wn.jpg);
    background-attachment: fixed;
}

.main-body{
    margin: 30px auto;
    height: 400px;
    width: 80%;
    border-radius: 2%;
}

.search-box{
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    padding-right: 0px;
    font-size: 12pt;

    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #444444;
}

hr{
    margin: 0px;
}

.search-body{
    background-color: #666666;
    /*height: 400px;*/

    margin-top: 0px;
}

.results-list{
    width: 100%;
    list-style-type: none;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    margin-top: 0px;
}

.results-list li{
    padding: 10px;
}

.results-list li:nth-child(even){
    background-color: #dddddd;
}