{% extends "./base.html" %}

{% block title %}
Backlog
{% endblock %}

{% block body_title %}
<a href="https://daemondeal.github.io">
  Backlog
</a>
{% endblock %}

{% block container %}

<article>
  {# Games Finished #}

  <div class="stats">
    <div class="stats-grid">
      {% for name, count in stats %}
      <div class="stat">
        <span>{{ name }}</span>
        <span class="number">{{ "{:03}".format(count) }}</span>
      </div>
      {% endfor %}
    </div>

    <svg 
      width="250" 
      height="250" 
      viewBox="0 0 250 250"
      class="circular-progress"
      style="--progress: {{ count_games_finished / games|length * 100 }};">
      <circle class="bg"></circle>
      <circle class="fg"></circle>
      <text x="50%" y="40%" text-anchor="middle" class="progress-text">
        <tspan x="50%" dy="0">Games</tspan>
        <tspan x="50%" dy="1em">Completed</tspan>
        <tspan x="50%" dy="2em">{{ count_games_finished }} / {{games | length }}</tspan>
      </text>
    </svg>
  </div>
</article>

<article class="filter-container">
  <div class="filter-options">
    <input type="text" placeholder="Name" id="filter-name">
    <select id="filter-group-by">
        <option selected disabled value="">
          Group by
        </option>
        <option value="status">Status</option>
        <option value="series">Series</option>
        <option value="genre">Genre</option>
        <option value="rating">Rating</option>
    </select>
  </div>

  <button onclick="updateFilter()" class="filter-update">Update</button>
</article>

<dialog id="details-dialog">
    <article class="dialog-content" id="dialog-content" class="container-fluid modal">
    </article>
</dialog>

<div id="target">
</div>

<script type="text/javascript">
  const games = {{ games | tojson }}
</script>

<script type="text/javascript">
  const gameStatuses = [
    {% for state in game_statuses %}
      "{{ state }}",
    {% endfor %}
  ];
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backlog.js') }}"></script>

{% endblock %}
