body{
  font-family: "Open Sans"
}

.vector-list{
  list-style-type: none;
  margin-left: 0px;

  padding-left: 0px;
}

.vector-list li{
  display: block;
  vertical-align: middle;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.vector-list li input{
  width: 50px;
}
